DOMAIN=hamarsride.com
WWW_DOMAIN=www.hamarsride.com
API_DOMAIN=api.hamarsride.com
ADMIN_DOMAIN=admin.hamarsride.com
ADMIN_API_DOMAIN=admin-api.hamarsride.com

APP_ROOT=/var/www

POSTGRES_DB=hamarsride
POSTGRES_USER=hamarsride_app
POSTGRES_PASSWORD=change_me_now
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

USER_BACKEND_PORT=5000
ADMIN_BACKEND_PORT=5001

USER_CORS_ORIGINS=https://hamarsride.com,https://www.hamarsride.com,https://admin.hamarsride.com
ADMIN_CORS_ORIGINS=https://admin.hamarsride.com

USER_API_BASE_URL=https://api.hamarsride.com/api
ADMIN_API_BASE_URL=https://admin-api.hamarsride.com

JWT_SECRET=change_me_now
LE_EMAIL=admin@hamarsride.com

PAYMENT_BANK_NAME=OPay
PAYMENT_ACCOUNT_NAME=HAMARS RIDES AND TRANSPORT SERVICES
PAYMENT_ACCOUNT_NUMBER=6115535987

GOOGLE_APPLICATION_CREDENTIALS=/var/www/secrets/serviceAccountKey.json
USER_UPLOADS_DIR=/var/www/hamarsride-user-backend/uploads
ADMIN_UPLOADS_DIR=/var/www/hamarsride-admin-backend/uploads
